{% extends 'base.html' %}

{% block title %}Scheduled Flights{% endblock %}

{% block content %}
<div class="container mt-4">
    <h3>Scheduled Flights</h3>
    <div class="table-responsive">
        <table class="table table-hover" id="scheduledFlightsTable">
            <thead class="thead-dark">
                <tr>
                    <th>Call Sign</th>
                    <th>Departure Airport</th>
                    <th>Arrival Airport</th>
                    <th>Departure Time</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for flight in flights %}
                <tr class="{{ flight.status }}">
                    <td>{{ flight.call_sign }}</td>
                    <td>{{ flight.departure_airport }}</td>
                    <td>{{ flight.arrival_airport }}</td>
                    <td>{{ flight.departure_time }}</td>
                    <td>{{ flight.status }}</td>
                    <td>
                        <!-- <a href="#" class="text-primary" title="View Logs"><i class="fas fa-file-alt"></i></a>
                        <a href="#" class="text-warning ml-2" title="Send Alert"><i
                                class="fas fa-exclamation-circle"></i></a>
                        <a href="#" class="text-info ml-2" title="Contact"><i class="fas fa-phone"></i></a> -->
                        <a href="#" class="text-info ml-2" title="Print"><i class="fas fa-print"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}