{% extends "base.html" %}
{% block title %}Current Flights{% endblock %}

{% block content %}
<div class="container mt-4">
    <h3>Current Flights</h3>
    <div class="table-responsive">
        <table class="table table-hover table-striped" id="currentFlightsTable">
            <thead class="thead-dark">
                <tr>
                    <th>Call Sign</th>
                    <th>Departure Airport</th>
                    <th>Arrival Airport</th>
                    <th>Status</th>
                    <th>ETA</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr onclick="openFlightDetails(1)">
                    <td>En Route</td>
                    <td>15:30</td>
                    <td>
                        <a href="#" class="text-primary" title="View Logs"><i class="fas fa-file-alt"></i></a>
                        <a href="#" class="text-warning ml-2" title="Send Alert"><i
                                class="fas fa-exclamation-circle"></i></a>
                        <a href="#" class="text-info ml-2" title="Contact"><i class="fas fa-phone"></i></a>
                    </td>
                </tr> -->
                {% for flight in flights %}
                <tr class="{{ flight.status }}">
                    <td>{{ flight.call_sign }}</td>
                    <td>{{ flight.departure_airport }}</td>
                    <td>{{ flight.arrival_airport }}</td>
                    <td>{{ flight.status }}</td>
                    <td>{{ flight.arrival_time }}</td>
                    <td>
                        <a href="#" class="text-primary" title="View Logs"><i class="fas fa-file-alt"></i></a>
                        <a href="#" class="text-warning ml-2" title="Send Alert"><i
                                class="fas fa-exclamation-circle"></i></a>
                        <a href="#" class="text-info ml-2" title="Contact"><i class="fas fa-phone"></i></a>
                    </td>
                </tr>
                {% endfor %}
                <!-- Additional rows can be added dynamically -->
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}